.categories-container{
    background-color: gainsboro;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    
}

.categories-list{
    display: flex;
    flex-direction: column;
    width: 80%;
}

.categories-list-element{
    margin-top:2%;
    
    
}

.categories-list-element-title-fold{
    font-size: 150%;
    background-color: #2F4057;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 1%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;


}

.categories-list-element-title-unfold{
    font-size: 200%;
    background-color: #2F4057;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 1%;
    border-radius: 10px;
    
}



.categories-list-element-sub{
    background-color: white;
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}

.categories-list-element-sub-element{
    display: flex;
    flex-direction: row;
}

.categories-list-element-sub-description{
    
    padding-top: 1%;
    padding-bottom: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


.categories-list-element-sub-buttons{
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding-bottom: 1%;
    padding-right: 1%;

}

.categories-list-element-sub-buttons-element{
    margin-left: 1%;
}



.categories-dot{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:2%

}

.categories-dot-menu-container{
    display: flex;
    flex-direction: row;
    justify-content: end;
}
.categories-dot-menu{
    background-color: brown;
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100px; 

    
}

.categories-dot-menu-element{
    padding: 5%;
    padding-left: 10%;
    padding-right: 10%;
    color: white;
    &:hover{
        background-color: white;
        color: black;
        cursor: pointer;
    }
}

.categories-list-element-sub-description-input{
   height: 100px;
   width: 90%;
}



.categories-list-element-sub-buttons-element-addButton{
    margin-right: 30%;
    margin-left: 30%;
    margin-bottom: 15%;
    margin-top:2%;

}