.container-footer{
    background-color: rgb(180, 180, 180);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
    color: rgb(99, 96, 96);
    bottom: 0;
    width: 100%;
    

}


.footer-mention{
    font-size: 150%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5%;
    padding-right: 5%;
    &:hover{
        background-color: rgb(220, 220, 220);
        cursor: pointer;
        color: black;
    }
}

.footer-logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 600px) {
    .footer-contact{
       display: none;
       
    }
    .container-footer{
        justify-content: space-evenly;
    }
   
}

@media (max-width: 320px) {
    .footer-contact{
       display: none;
       
    }
    .container-footer{
        justify-content: space-evenly;
    }
    .footer-logo{
        display: none;
    }
   
}