.checkboxForm-container{
    display: flex;
    flex-direction: row;
   
  
   
}

.checkboxForm-container-input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50px;
 
   
}

.checkboxForm-container-label{
    display: flex;
  
    flex-direction: column;
    justify-content: center;
   
    
}