/* html {
    height: 100%;
}
body {
    min-height: 100%;
    margin: 0;
    padding: 0;
} */


.body{
    display: flex;
    justify-content: center;
    /* background-color: #eee; */
    background-color: rgb(42, 161, 52);
    width: 100vw;
    height:100vh;
}

.form{
    margin-top: 50px;
    position: absolute;
    display: flex;
    justify-content: center;
    background-color: brown;
    /* opacity: 20%; */
    min-width: 200px;
    height: 100px;
}

@media screen and (min-width: 768px) {
    .form {
        width: 700px;
    }
    /* div.imag {
      height: 420px;
      min-width: 360px;
    } */
    /* div.text-container {
      margin: 0 60px;
      max-width: 660px;
    } */
}