.container-logs{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.log-list-element{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin :3%
}

.container-logs{
    display: flex;
    flex-direction: column;
}

.log-list-element-element{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button-log{
    width: 20em;
}

.containerLogFridge{
    display: flex;
    flex-direction: column;
}

.containerLogSales{
    display: flex;
    flex-direction: column;
}

.logs-title{
    background-color: rgb(220, 220, 220);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logs-fridge-date{
      margin-left: 20%;
}

.logs-fridge-code{
    margin-right: 20%;
}


.logs-sales-date{
    margin-left: 10%;
}

.logs-sales-prix{

}

.logs-sales-produits{
    margin-right: 10%;
}


.logs-onglets{
    display: flex;
    flex-direction: row;
    
}

.logs-onglets-element{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding:1%;
    padding-left: 3%;
    padding-right: 3%;
    &#selected{
        background-color: rgb(220, 220, 220);
        border-bottom: none;
    }
}


.logs-sales-content-element{
    display: flex;
    flex-direction: row;
}   

.logs-sales-content-element-products{
    display: flex;
    flex-direction: column;
    
}

.logs-sales-content-element-products-element{
    display: flex;
    flex-direction: row;
}