.menu-container{
    background-color: gainsboro;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    
}

.menu-list{
    display: flex;
    flex-direction: column;
    width: 80%;
}

.menu-list-element{
    margin-top:5%;
    cursor: pointer;
}

.menu-list-element-title-fold{
    font-size: 200%;
    background-color: #2F4057;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 1%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;


}

.menu-list-element-title-unfold{
    font-size: 200%;
    background-color: #2F4057;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 1%;
    border-radius: 10px;
    
}



.menu-list-element-sub{
    background-color: white;
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}

.menu-list-element-sub-element{
    display: flex;
    flex-direction: row;
}

.menu-list-element-sub-description{
    
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.menu-list-element-sub-description-element{
    margin-top: 1%;
    font-size: 120%;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.menu-container-button-addProduct{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2em;
    margin-top: 1em;
}

.menu-button-addProduct{
    background-color: rgb(96, 163, 96);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 3em;
    &:hover{
        background-color: rgb(59, 104, 59);
        cursor: pointer;
    }
}

.menu-list-element-sub-description-element-element{
    &#labelElementMenu{
        width: 30%;
    }
}

.menu-list-element-sub-buttons{
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding-bottom: 1%;
    padding-right: 1%;

}

.menu-list-element-sub-buttons-element{
    margin-left: 1%;
}



.menu-dot{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:1em

}

.menu-dot-menu-container{
    display: flex;
    flex-direction: row;
    justify-content: end;
}
.menu-dot-menu{
    background-color: brown;
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100px; 

    
}

.menu-dot-menu-element{
    padding: 5%;
    padding-left: 10%;
    padding-right: 10%;
    color: white;
    &:hover{
        background-color: white;
        color: black;
        cursor: pointer;
    }
}

.menu-list-element-sub-description-input{
   height: 100px;
   width: 90%;
}



.menu-list-element-sub-buttons-element-addButton{
    margin-right: 30%;
    margin-left: 30%;
    margin-bottom: 15%;
    margin-top:2%;
}

@media (max-width: 500px) {
    .menu-list-element-sub-buttons-element-addButton{
       margin-right: 10%;
       margin-left: 10%;
       
    }
   
}