.products-container{
    background-color: gainsboro;
    display: flex;
    flex-direction: row;
    justify-content: center;   
}

.products-list{
    display: flex;
    flex-direction: column;
    width: 60%;
}

.products-list-element{
    margin-top:2%;
    cursor: pointer;
}

.products-list-element-title-fold{
    font-size: 200%;
    background-color: #2F4057;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    padding-left: 3%;
    padding-right: 1%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.products-list-element-title-unfold{
    font-size: 200%;
    background-color: #2F4057;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 3%;
    padding-right: 1%;
    border-radius: 10px;
}

.products-fold{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:1.5em;
    z-index: 0;
}

.products-list-element-sub{
    background-color: white;
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.products-list-element-sub-description{
    
    padding-top: 1%;
    padding-bottom: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.products-list-element-sub-buttons{
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding-bottom: 1%;
    padding-right: 1%;
}

.products-list-element-sub-buttons-element{
    margin-left: 1%;
}

.products-list-element-sub-description-input{
    height: 100px;
    width: 90%;
 }

 .products-addProductButton{
    margin-right: 30%;
    margin-left: 30%;
    margin-bottom: 0;
    margin-top:2%;
 }

 .product-title-name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 100%;
    width: 60%;
    &-edition{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
 }
 .product-title-dlc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 60%;
    width: 30%;
    &-edition{
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 60%;
        height: 2em;
        align-items: center;
    }
    
 }

 .product-title-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 70%;
    width: 30%;
 }

 .textAreaResize{
     resize: none;
     height: 100px;
 }

 .product-title-prix{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 70%;
    width: 25%;
 }
.product-title-prix-align{
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding-right: 30%;
    &-edition{
        height: 2em;
    }
}


 .products-categories-dropdownElement{
     margin-top: 2%;
     margin-left: -3%;
     display: flex;
     flex-direction: row;
     cursor: pointer;
 }

 .products-categories-dropdownElement-name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 250%;
 }
 
 .rotate90{
    transform: rotate(90deg);
 }

 .rotate45{
    transform: rotate(180deg);
 }

 @media (max-width: 1000px) {
    .products-list{
        width: 80%;
    }
 }


 @media (max-width: 700px) {
    


    .product-title-dlc{
         display: none;
     }

     .products-addProductButton{
        margin-right: 10%;
        margin-left: 10%;
        
     }
     .product-title-prix{
         width: 26.5%;
     }
    
}

@media (max-width: 500px){
    .product-title-prix{
        display: none;
        
    }
    .product-title-name{
        width: 80%;
    }
}