.products-container{
    background-color: gainsboro;
    display: flex;
    flex-direction: row;
    justify-content: center;   
}

.products-list{
    display: flex;
    flex-direction: column;
    width: 80%;
}

.products-list-element{
    margin-top:2%;
    
    
}

.products-list-element-title-fold{
    font-size: 150%;
    background-color: #2F4057;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 1%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;


}

.products-list-element-title-unfold{
    font-size: 200%;
    background-color: #2F4057;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 1%;
    border-radius: 10px;
    
}

.products-fold{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:2%
}

.products-list-element-sub{
    background-color: white;
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}

.products-list-element-sub-description{
    
    padding-top: 1%;
    padding-bottom: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


.products-list-element-sub-buttons{
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding-bottom: 1%;
    padding-right: 1%;

}

.products-list-element-sub-buttons-element{
    margin-left: 1%;
}

.products-list-element-sub-description-input{
    height: 100px;
    width: 90%;
 }

 .products-addProductButton{
    margin-right: 30%;
    margin-left: 30%;
    margin-bottom: 15%;
    margin-top:2%;
 }
